.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
  }

  .bg-img{
    background-image: url(../register/assets/img1.jpg);
    /* background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%); */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .card-img{
    background-image: url(./assets/Login3.jpg);
    margin: 20px;
    /* background: linear-gradient(180deg, #00C9FF 0%, #92FE9D 100%); */
    max-height: 80vh;   
    max-width: 40vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg-color{
      background-color: #4ACEDA;
  }