.button-float-r {
    float: right;
}
.bg-img{
    background-image: url(./assets/img1.jpg);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }