// // Here you can add other styles
.ant-form-item-label {
  margin: 0 0 4px;
  color: rgb(107, 119, 140) ;
  height: 25px;
}



// .container {
//   text-align: center;
//   padding: 20px;
// }

// .form-container {
//   width: 300px;
//   }


